﻿@model Payroll.Models.BankModel
@{
    ViewBag.Title = "Bank Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />
        <title>Bank</title>*@
    @Scripts.Render("~/Custom_Script/plugins/jquery/jquery.min.js")
    @Scripts.Render("~/Custom_Script/plugins/datatables/jquery.datatables.min.js")
    @Scripts.Render("~/Custom_Script/dist/js/Bank.js")
    @section MyScripts {
        <script type="text/javascript">
            $(document).ready(function () {
            });

        </script>
    }
</head>
<body>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("Error occured contact to Administrator");
            };
        </script>
    }
        <div class="container">
            @if (Session["LangType"].ToString() == "A")
            {
                <h2>@Payroll.Resources.Language.BankDetails</h2>
            }
            else
            {
                <h2>Bank Details</h2>
            }
            @if (Session["LangType"].ToString() == "A")
            {
                <button type="button" class="btn btn-primary" id="btnAdd">@Payroll.Resources.Language.AddNew</button><br /><br />
            }
            else
            {
                <button type="button" class="btn btn-primary" id="btnAdd">Add New</button><br /><br />
            }
            <table class="table table-bordered table-hover table-striped display nowrap" id="tblBank" style="width:100%">
                <thead>
                    <tr>
                        @if (Session["LangType"].ToString() == "A")
                        {
                            <th id="tblThEdit">
                                @Payroll.Resources.Language.Edit
                            </th>
                        }
                        else
                        {
                            <th id="tblThEdit">
                                Edit
                            </th>
                        }
                        @if (Session["LangType"].ToString() == "A")
                        {
                            <th>
                                @Payroll.Resources.Language.Delete
                            </th>
                        }
                        else
                        {
                            <th>
                                Delete
                            </th>
                        }
                        @if (Session["LangType"].ToString() == "A")
                        {
                            <th>
                                @Payroll.Resources.Language.Code
                            </th>
                        }
                        else
                        {
                            <th>
                                Code
                            </th>
                        }
                        @if (Session["LangType"].ToString() == "A")
                        {
                            <th>
                                @Payroll.Resources.Language.Name
                            </th>
                        }
                        else
                        {
                            <th>
                                Name
                            </th>
                        }
                        @if (Session["LangType"].ToString() == "A")
                        {
                            <th>
                                @Payroll.Resources.Language.IndianFinancialSystemCode
                            </th>
                        }
                        else
                        {
                            <th>
                                Indian Financial System Code
                            </th>
                        }
                        @if (Session["LangType"].ToString() == "A")
                        {
                            <th>
                                @Payroll.Resources.Language.Address
                            </th>
                        }
                        else
                        {
                            <th>
                                Address
                            </th>
                        }
                        @if (Session["LangType"].ToString() == "A")
                        {
                            <th>
                                @Payroll.Resources.Language.ShortName
                            </th>
                        }
                        else
                        {
                            <th>
                                Short Name
                            </th>
                        }
                    </tr>
                </thead>
                <tbody class="tbody"></tbody>
            </table>
        </div>
    <div class="modal fade" id="myModal" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <h4 class="modal-title"> @Payroll.Resources.Language.BankDetails</h4>
                    }
                    else
                    {
                        <h4 class="modal-title">Bank Details</h4>
                    }

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnClose" onclick="cancel();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group" id="divcode">
                            @if (Session["LangType"].ToString() == "A")
                            {
                                <label for="BankCode">@Payroll.Resources.Language.Code*</label>
                            }
                            else
                            {
                                <label for="BankCode">Code*</label>
                            }
                            @if (Session["LangType"].ToString() == "A")
                            {
                                <input type="text" class="form-control" id="txtBankCode" maxlength=5 placeholder="@Payroll.Resources.Language.Code" onchange="return BankCodeCheck(this.value)" />
                            }
                            else
                            {
                                <input type="text" class="form-control" id="txtBankCode" maxlength=5 placeholder="Code" onchange="return BankCodeCheck(this.value)" />
                            }


                        </div>
                        <div class="form-group">
                            @if (Session["LangType"].ToString() == "A")
                            {
                                <label for="BankName">@Payroll.Resources.Language.Name*</label>
                            }
                            else
                            {
                                <label for="BankName">Name*</label>
                            }
                            @if (Session["LangType"].ToString() == "A")
                            {
                                <input type="text" class="form-control" id="txtBankName" maxlength=100 placeholder="@Payroll.Resources.Language.Name" onkeypress='return QoutesValidation(event)' />
                            }
                            else
                            {
                                <input type="text" class="form-control" id="txtBankName" maxlength=100 placeholder="Name" onkeypress='return QoutesValidation(event)' />
                            }
                        </div>
                        <div class="form-group">
                            @if (Session["LangType"].ToString() == "A")
                            {
                                <label for="BankIFSCCode">@Payroll.Resources.Language.IndianFinancialSystemCode</label>
                            }
                            else
                            {
                                <label for="BankIFSCCode">Indian Financial System Code</label>
                            }
                            @if (Session["LangType"].ToString() == "A")
                            {
                                <input type="text" class="form-control" id="txtBankIFSCCode" maxlength=15 placeholder="@Payroll.Resources.Language.IndianFinancialSystemCode" onkeypress='return QoutesValidation(event)' />
                            }
                            else
                            {
                                <input type="text" class="form-control" id="txtBankIFSCCode" maxlength=15 placeholder="Indian Financial System Code" onkeypress='return QoutesValidation(event)' />
                            }
                        </div>
                        <div class="form-group">
                            @if (Session["LangType"].ToString() == "A")
                            {
                                <label for="BankAddress">@Payroll.Resources.Language.Address</label>
                            }
                            else
                            {
                                <label for="BankAddress">Address</label>
                            }
                            @if (Session["LangType"].ToString() == "A")
                            {
                                <input type="text" class="form-control" id="txtBankAddress" maxlength=250 placeholder="@Payroll.Resources.Language.Address" onkeypress='return QoutesValidation(event)' />
                            }
                            else
                            {
                                <textarea class="form-control" id="txtBankAddress" maxlength=250 placeholder="Address" onkeypress='return QoutesValidation(event)'></textarea>
                            }
                        </div>
                        <div class="form-group">
                            @if (Session["LangType"].ToString() == "A")
                            {
                                <label for="BankShortName">@Payroll.Resources.Language.ShortName</label>
                            }
                            else
                            {
                                <label for="BankShortName">Short Name</label>
                            }
                            @if (Session["LangType"].ToString() == "A")
                            {
                                <input type="text" class="form-control" id="txtBankShortName" maxlength=5 placeholder="@Payroll.Resources.Language.ShortName" onkeypress='return QoutesValidation(event)' />
                            }
                            else
                            {
                                <input type="text" class="form-control" id="txtBankShortName" maxlength=5 placeholder="Short Name" onkeypress='return QoutesValidation(event)' />
                            }
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <button type="button" class="btn btn-primary" id="btnAddNew" onclick="return Add();">@Payroll.Resources.Language.Submit</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary" id="btnAddNew" onclick="return Add();">Submit</button>
                    }
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">@Payroll.Resources.Language.Submit</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Submit</button>
                    }
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <button type="button" class="btn btn-primary" id="btnCancel" data-dismiss="modal" onclick="cancel();">@Payroll.Resources.Language.Cancel</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary" id="btnCancel" data-dismiss="modal" onclick="cancel();">Cancel</button>
                    }
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</body>
</html>
