﻿@model Payroll.Models.CategoryModel
@{
    ViewBag.Title = "Category Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />
        <title>Category</title>*@
    @Scripts.Render("~/Custom_Script/plugins/jquery/jquery.min.js")
    @Scripts.Render("~/Custom_Script/plugins/datatables/jquery.datatables.min.js")
    @Scripts.Render("~/Custom_Script/dist/js/Category.js")
    @section MyScripts {
        <script type="text/javascript">
            $(document).ready(function () {
            });

        </script>
    }
</head>
<body>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("Error occured contact to Administrator");
            };
        </script>
    }
        <div class="container">
            @if (Session["LangType"].ToString() == "A")
            {
                <h2>@Payroll.Resources.Language.CategoryDetails</h2>
            }
            else
            {
                <h2>Category Details</h2>
            }
            @if (Session["LangType"].ToString() == "A")
            {
                <button type="button" class="btn btn-primary" id="btnAdd">@Payroll.Resources.Language.AddNew</button><br /><br />
            }
            else
            {
                <button type="button" class="btn btn-primary" id="btnAdd">Add New</button><br /><br />
            }
            <table class="table table-bordered table-hover table-striped display nowrap" id="tblCategory" style="width:100%">
                <thead>
                    <tr>
                        @if (Session["LangType"].ToString() == "A")
                        {
                            <th id="tblThEdit">
                                @Payroll.Resources.Language.Edit
                            </th>
                        }
                        else
                        {
                            <th id="tblThEdit">
                                Edit
                            </th>
                        }
                        @if (Session["LangType"].ToString() == "A")
                        {
                            <th>
                                @Payroll.Resources.Language.Delete
                            </th>
                        }
                        else
                        {
                            <th>
                                Delete
                            </th>
                        }
                        @if (Session["LangType"].ToString() == "A")
                        {
                            <th>
                                @Payroll.Resources.Language.Status
                            </th>
                        }
                        else
                        {
                            <th>
                                Status
                            </th>
                        }
                        @if (Session["LangType"].ToString() == "A")
                        {
                            <th>
                                @Payroll.Resources.Language.Code
                            </th>
                        }
                        else
                        {
                            <th>
                                Code
                            </th>
                        }
                        @if (Session["LangType"].ToString() == "A")
                        {
                            <th>
                                @Payroll.Resources.Language.Name
                            </th>
                        }
                        else
                        {
                            <th>
                                Name
                            </th>
                        }
                    </tr>
                </thead>
                <tbody class="tbody"></tbody>
            </table>
        </div>
    <div class="modal fade" id="myModal" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <h4 class="modal-title"> @Payroll.Resources.Language.CategoryDetails</h4>
                    }
                    else
                    {
                        <h4 class="modal-title"><b>Category Details</b></h4>
                    }
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnClose" onclick="cancel();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <div class="form-group">
                                @if (Session["LangType"].ToString() == "A")
                                {
                                    <label for="IsActive">@Payroll.Resources.Language.Status*</label>
                                }
                                else
                                {
                                    <label for="IsActive">Status*</label>
                                }
                                <select id="ddlIsActive" class="form-control" name="IsActive">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <option value="Y">@Payroll.Resources.Language.Active</option>
                                    }
                                    else
                                    {
                                        <option value="Y">Active</option>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <option value="Y">@Payroll.Resources.Language.InActive</option>
                                    }
                                    else
                                    {
                                        <option value="N">InActive</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="divcode">
                            @if (Session["LangType"].ToString() == "A")
                            {
                                <label for="Code">@Payroll.Resources.Language.Code*</label>
                            }
                            else
                            {
                                <label for="Code">Code*</label>
                            }
                            @if (Session["LangType"].ToString() == "A")
                            {
                                <input type="text" class="form-control" id="txtCategoryCode" maxlength=5 placeholder="@Payroll.Resources.Language.Code" onchange="return CategoryCodeCheck(this.value)" />
                            }
                            else
                            {
                                <input type="text" class="form-control" id="txtCategoryCode" maxlength=5 placeholder="Code" onchange="return CategoryCodeCheck(this.value)" />
                            }
                        </div>
                        <div class="form-group">
                            @if (Session["LangType"].ToString() == "A")
                            {
                                <label for="CategoryName">@Payroll.Resources.Language.Name*</label>
                            }
                            else
                            {
                                <label for="CategoryName">Name*</label>
                            }
                            @if (Session["LangType"].ToString() == "A")
                            {
                                <input type="text" class="form-control" id="txtCategoryName" maxlength=100 placeholder="@Payroll.Resources.Language.Name" onkeypress='return QoutesValidation(event)' />
                            }
                            else
                            {
                                <input type="text" class="form-control" id="txtCategoryName" maxlength=100 placeholder="Name" onkeypress='return QoutesValidation(event)' />
                            }
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <button type="button" class="btn btn-primary" id="btnAddNew" onclick="return Add();">@Payroll.Resources.Language.Submit</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary" id="btnAddNew" onclick="return Add();">Submit</button>
                    }
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">@Payroll.Resources.Language.Submit</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Submit</button>
                    }
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <button type="button" class="btn btn-primary" id="btnCancel" data-dismiss="modal" onclick="cancel();">@Payroll.Resources.Language.Cancel</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary" id="btnCancel" data-dismiss="modal" onclick="cancel();">Cancel</button>
                    }
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</body>
</html>
