﻿@model Payroll.Models.CompanyModel
@{
    ViewBag.Title = "Company Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    @Scripts.Render("~/Custom_Script/plugins/jquery/jquery.min.js")
    @Scripts.Render("~/Custom_Script/plugins/datatables/jquery.datatables.min.js")
    @Scripts.Render("~/Custom_Script/dist/js/FormulaSetup.js")
    @section MyScripts {
        <script type="text/javascript">
            $(document).ready(function () {
            });
        </script>
    }
    <style>
        .formula {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
            box-shadow: none;
            width: 100px;
            height: 90px;
        }
    </style>
</head>
<body>
    <input type="hidden"  id="hdn_lang" name="hdn_lang" value="@Session["LangType"]"/>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("Error occured contact to Administrator");
            };
        </script>
    }
    <div class="container">
        @if (Session["LangType"].ToString() == "A")
        {
            <h2>@Payroll.Resources.Language.FormulaSetupDetails</h2>
        }
        else
        {
            <h2>Formula Setup Details</h2>
        }
        @if (Session["LangType"].ToString() == "A")
        {
            <button type="button" class="btn btn-primary" id="btnAdd">@Payroll.Resources.Language.AddNew</button><br /><br />
        }
        else
        {
            <button type="button" class="btn btn-primary" id="btnAdd">Add New</button><br /><br />
        }
        <table class="table table-bordered table-hover table-striped display nowrap" id="tblFormulaSetup" style="width:100%">
            <thead>
                <tr>
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <th id="tblThEdit">
                            @Payroll.Resources.Language.Edit
                        </th>
                    }
                    else
                    {
                        <th id="tblThEdit">
                            Edit
                        </th>
                    }
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <th>
                            @Payroll.Resources.Language.Delete
                        </th>
                    }
                    else
                    {
                        <th>
                            Delete
                        </th>
                    }
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <th>
                            @Payroll.Resources.Language.Code
                        </th>
                    }
                    else
                    {
                        <th>
                            Code
                        </th>
                    }
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <th>
                            @Payroll.Resources.Language.Description
                        </th>
                    }
                    else
                    {
                        <th>
                            Description
                        </th>
                    }
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <th>
                            @Payroll.Resources.Language.Formula
                        </th>
                    }
                    else
                    {
                        <th>
                            Formula
                        </th>
                    }
                </tr>
            </thead>
            <tbody class="tbody"></tbody>
        </table>
    </div>
    <div class="modal fade" id="myModal" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" style="max-width:800px">
            <div class="modal-content">
                <div class="modal-header">
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <h4 class="modal-title"> @Payroll.Resources.Language.FormulaSetupDetails</h4>
                    }
                    else
                    {
                        <h4 class="modal-title">Formula Setup Details</h4>
                    }

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnClose" onclick="cancel();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" id="divcode">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="Code">@Payroll.Resources.Language.FormulaCode</label>
                                    }
                                    else
                                    {
                                        <label for="Code">Formula Code</label>
                                    }
                                    <select class="form-control" id="ddlFormulaCode" name="FormulaCode"></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="Description">@Payroll.Resources.Language.Description</label>
                                    }
                                    else
                                    {
                                        <label for="Description">Description</label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <input type="text" class="form-control" id="txtDescription" maxlength=100 placeholder="@Payroll.Resources.Language.Description" />
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" id="txtDescription" maxlength=100 placeholder="Description" />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="Formula">@Payroll.Resources.Language.Formula</label>
                                    }
                                    else
                                    {
                                        <label for="Formula">Formula</label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <textarea class="form-control" id="txtFormula" maxlength=250 placeholder="@Payroll.Resources.Language.Formula"></textarea>
                                    }
                                    else
                                    {
                                        <textarea class="form-control" id="txtFormula" maxlength=250 placeholder="Formula"></textarea>
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="Formula">@Payroll.Resources.Language.AttendanceValues</label>
                                    }
                                    else
                                    {
                                        <label for="Formula">Attendance Values</label>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <button type="button" class="btn btn-primary formula" data-toggle="tooltip" title="@Payroll.Resources.Language.PresentValue" id="btnPresentValue" onclick="return PRE();">@Payroll.Resources.Language.Present</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-primary formula" data-toggle="tooltip" title="Present Value!" id="btnPresentValue" onclick="return PRE();">Present</button>
                                    }
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <button type="button" class="btn btn-primary formula" data-toggle="tooltip" title="@Payroll.Resources.Language.AbsentValue" id="btnPresentValue" onclick="return ABS();">@Payroll.Resources.Language.Absent</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-primary formula" data-toggle="tooltip" title="Absent Value!" id="btnAbsentValue" onclick="return ABS();">Absent</button>
                                    }
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <button type="button" class="btn btn-primary formula" data-toggle="tooltip" title="@Payroll.Resources.Language.HolidayValue" id="btnPresentValue" onclick="return HLD();">@Payroll.Resources.Language.Holiday</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-primary formula" data-toggle="tooltip" title="Holiday Value!" id="btnHolidayValue" onclick="return HLD();">Holiday</button>
                                    }
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="@Payroll.Resources.Language.LeaveValue" id="btnPresentValue" onclick="return Leave();">@Payroll.Resources.Language.Leave</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Leave Value!" id="btnLeaveValue" onclick="return Leave();">Leave</button>
                                    }
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="@Payroll.Resources.Language.WeeklyOff" id="btnPresentValue" onclick="return WeeklyOff();">@Payroll.Resources.Language.WeeklyOff</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Weekly Off!" id="btnWeeklyoffValue" onclick="return WeeklyOff();">Weekly Off</button>
                                    }
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="@Payroll.Resources.Language.TotalDays" id="btnTotaldaysValue" onclick="return TotalDays();">@Payroll.Resources.Language.TotalDays</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Total Days!" id="btnTotaldaysValue" onclick="return TotalDays();">Total Days</button>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="@Payroll.Resources.Language.TotalDays" id="btnTotaldaysValue" onclick="return CasualLeave();">@Payroll.Resources.Language.TotalDays</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Casual Leave Value!" id="btnCasualLeaveValue" onclick="return CasualLeave();">Casual Leave</button>
                                    }
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="@Payroll.Resources.Language.SickLeaveValue" id="btnTotaldaysValue" onclick="return SickLeave();">@Payroll.Resources.Language.SickLeave</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Sick Leave Value!" id="btnSickLeaveValue" onclick="return SickLeave();">Sick Leave</button>
                                    }
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="@Payroll.Resources.Language.PaidLeaveValue" id="btnTotaldaysValue" onclick="return PaidLeave();">@Payroll.Resources.Language.PaidLeave</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Paid Leave Value!" id="btnPaidLeaveValue" onclick="return PaidLeave();">Paid Leave</button>
                                    }
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="@Payroll.Resources.Language.OtherLeaveValue" id="btnTotaldaysValue" onclick="return OtherLeave();">@Payroll.Resources.Language.OtherLeave</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Other Leave Value!" id="btnOtherLeaveValue" onclick="return OtherLeave();">Other Leave</button>
                                    }
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="@Payroll.Resources.Language.LateValue" id="btnTotaldaysValue" onclick="return Late();">@Payroll.Resources.Language.Late</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Late Value!" id="btnLateValue" onclick="return Late();">Late</button>
                                    }
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="@Payroll.Resources.Language.TotalLateValue" id="btnTotaldaysValue" onclick="return TotalLate();">@Payroll.Resources.Language.TotalLate</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Total Late Value!" id="btnTotalLateValue" onclick="return TotalLate();">Total Late</button>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="@Payroll.Resources.Language.TotalLateMinuteValue" id="btnTotaldaysValue" onclick="return TotalLateMinute();">@Payroll.Resources.Language.TotalLateMinute</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Total Late Minute Value!" id="btnTotalLateMinuteValue" onclick="return TotalLateMinute();">Total Late Minute</button>
                                    }
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="@Payroll.Resources.Language.EarlyValue" id="btnTotaldaysValue" onclick="return TotalLateMinute();">@Payroll.Resources.Language.Early</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Early Value!" id="btnEarlyValue" onclick="return Early();">Early</button>
                                    }
                                    
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="@Payroll.Resources.Language.TotalEarlyValue" id="btnTotaldaysValue" onclick="return TotalLateMinute();">@Payroll.Resources.Language.TotalEarly</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Total Early Value!" id="btnTotalEarlyValue" onclick="return TotalEarly();">Total Early</button>
                                    }
                                    
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="@Payroll.Resources.Language.MonthDayValue" id="btnTotaldaysValue" onclick="return MonthDays();">@Payroll.Resources.Language.TotalLateMinute</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Month Day Value!" id="btnMonthDayValue" onclick="return MonthDays();">Month Day</button>
                                    }                         
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="@Payroll.Resources.Language.OvertimeRateValue" id="btnTotaldaysValue" onclick="return OverTimeRate();">@Payroll.Resources.Language.OvertimeRate</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Overtime Rate Value!" id="btnOverTimeRateValue" onclick="return OverTimeRate();">Overtime Rate</button>
                                    }
                                </div>
                            </div>
                            @*<div class="col-md-2">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Total Late Value!" id="btnTotalLateValue" onclick="return TotalLate();">Total Late</button>
                                    </div>
                                </div>*@
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="Formula">@Payroll.Resources.Language.PayComponent</label>
                                    }
                                    else
                                    {
                                        <label for="Formula">Pay Component</label>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="@Payroll.Resources.Language.BasicValue" id="btnTotaldaysValue" onclick="return Basic();">@Payroll.Resources.Language.Basic</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Basic Value!" id="btnBasicValue" onclick="return Basic();">Basic</button>
                                    }
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="@Payroll.Resources.Language.DearnessAllowanceValue" id="btnDearnessAllowanceValue" onclick="return DearnessAllowance();">@Payroll.Resources.Language.DearnessAllowance</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Dearness Allowance Value!" id="btnDearnessAllowanceValue" onclick="return DearnessAllowance();">Dearness Allowance</button>
                                    }
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="@Payroll.Resources.Language.HouseRentAllowanceValue" id="btnHouseRentAllowanceValue" onclick="return HouseRentAllowance();">@Payroll.Resources.Language.HouseRentAllowance</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="House Rent Allowance Value!" id="btnHouseRentAllowanceValue" onclick="return HouseRentAllowance();">House Rent Allowance</button>
                                    }
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="@Payroll.Resources.Language.MedicalValue" id="btnHouseRentAllowanceValue" onclick="return Medical();">@Payroll.Resources.Language.Medical</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Medical Value!" id="btnHouseRentAllowanceValue" onclick="return Medical();">Medical</button>
                                    }
                                </div>
                            </div>
                            <div class="col-md-2">
                                @if (Session["LangType"].ToString() == "A")
                                {
                                    <button type="button" class="btn btn-primary" data-toggle="tooltip" title="@Payroll.Resources.Language.ConveyanceValue" id="btnHouseRentAllowanceValue" onclick="return Conveyance();">@Payroll.Resources.Language.Conveyance</button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Conveyance Value!" id="btnHouseRentAllowanceValue" onclick="return Conveyance();">Conveyance</button>
                                }
                            </div>
                            @*<div class="col-md-2">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Total Late Value!" id="btnTotalLateValue" onclick="return TotalLate();">Total Late</button>
                                    </div>
                                </div>*@
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <button type="button" class="btn btn-primary" id="btnAddNew" onclick="return Add();">@Payroll.Resources.Language.Submit</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary" id="btnAddNew" onclick="return Add();">Submit</button>
                    }
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">@Payroll.Resources.Language.Submit</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Submit</button>
                    }
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <button type="button" class="btn btn-primary" id="btnCancel" data-dismiss="modal" onclick="cancel();">@Payroll.Resources.Language.Cancel</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary" id="btnCancel" data-dismiss="modal" onclick="cancel();">Cancel</button>
                    }
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</body>
</html>
