﻿@model Payroll.Models.CompanyModel
@{
    ViewBag.Title = "Company Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    @Scripts.Render("~/Custom_Script/plugins/jquery/jquery.min.js")
    @Scripts.Render("~/Custom_Script/plugins/datatables/jquery.datatables.min.js")
    @Scripts.Render("~/Custom_Script/dist/js/Company.js")
    @section MyScripts {
        <script type="text/javascript">
            $(document).ready(function () {
            });

        </script>
    }
</head>
<body>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("Error occured contact to Administrator");
            };
        </script>
    }

    <div class="container">
        @if (Session["LangType"].ToString() == "A")
        {
            <h2>@Payroll.Resources.Language.CompanyDetails</h2>
        }
        else
        {
            <h2>Company Details</h2>
        }
        @if (Session["LangType"].ToString() == "A")
        {
            <button type="button" class="btn btn-primary" id="btnAdd">@Payroll.Resources.Language.AddNew</button><br /><br />
        }
        else
        {
            <button type="button" class="btn btn-primary" id="btnAdd">Add New</button><br /><br />
        }
        <table class="table table-bordered table-hover table-striped display nowrap" id="tblCompany" style="width:100%">
            <thead>
                <tr>
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <th id="tblThEdit">
                            @Payroll.Resources.Language.Edit
                        </th>
                    }
                    else
                    {
                        <th id="tblThEdit">
                            Edit
                        </th>
                    }
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <th>
                            @Payroll.Resources.Language.Delete
                        </th>
                    }
                    else
                    {
                        <th>
                            Delete
                        </th>
                    }
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <th>
                            @Payroll.Resources.Language.Status
                        </th>
                    }
                    else
                    {
                        <th>
                            Status
                        </th>
                    }
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <th>
                            @Payroll.Resources.Language.Code
                        </th>
                    }
                    else
                    {
                        <th>
                            Code
                        </th>
                    }
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <th>
                            @Payroll.Resources.Language.Name
                        </th>
                    }
                    else
                    {
                        <th>
                            Name
                        </th>
                    }
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <th>
                            @Payroll.Resources.Language.ShortName
                        </th>
                    }
                    else
                    {
                        <th>
                            Short Name
                        </th>
                    }
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <th>
                            @Payroll.Resources.Language.IndustryNature
                        </th>
                    }
                    else
                    {
                        <th>
                            Industry Nature
                        </th>
                    }
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <th>
                            @Payroll.Resources.Language.Address
                        </th>
                    }
                    else
                    {
                        <th>
                            Address
                        </th>
                    }
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <th>
                            @Payroll.Resources.Language.PhoneNumber
                        </th>
                    }
                    else
                    {
                        <th>
                            Phone Number
                        </th>
                    }
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <th>
                            @Payroll.Resources.Language.EmailIDentification
                        </th>
                    }
                    else
                    {
                        <th>
                            Email IDentification
                        </th>
                    }
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <th>
                            @Payroll.Resources.Language.RegistationNumber
                        </th>
                    }
                    else
                    {
                        <th>
                            Registation Number
                        </th>
                    }
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <th>
                            @Payroll.Resources.Language.PermanentAccountNumber
                        </th>
                    }
                    else
                    {
                        <th>
                            Permanent Account Number
                        </th>
                    }
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <th>
                            @Payroll.Resources.Language.TaxDeductionandCollectionAccountNumber
                        </th>
                    }
                    else
                    {
                        <th>
                            Tax Deduction and Collection Account Number
                        </th>
                    }
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <th>
                            @Payroll.Resources.Language.ProvidentFundNumber
                        </th>
                    }
                    else
                    {
                        <th>
                            Provident Fund Number
                        </th>
                    }
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <th>
                            @Payroll.Resources.Language.LetterofCreditNumber
                        </th>
                    }
                    else
                    {
                        <th>
                            Letter of Credit Number
                        </th>
                    }

                </tr>
            </thead>
            <tbody class="tbody"></tbody>
        </table>
    </div>
    <div class="modal fade" id="myModal" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <h4 class="modal-title"> @Payroll.Resources.Language.CompanyDetails</h4>
                    }
                    else
                    {
                        <h4 class="modal-title">Company Details</h4>
                    }
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnClose" onclick="cancel();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="IsActive">@Payroll.Resources.Language.Status*</label>
                                    }
                                    else
                                    {
                                        <label for="IsActive">Status*</label>
                                    }
                                    <select class="form-control" id="ddlIsActive" name="IsActive">
                                        @if (Session["LangType"].ToString() == "A")
                                        {
                                            <option value="Y">@Payroll.Resources.Language.Active</option>
                                        }
                                        else
                                        {
                                            <option value="Y">Active</option>
                                        }
                                        @if (Session["LangType"].ToString() == "A")
                                        {
                                            <option value="Y">@Payroll.Resources.Language.InActive</option>
                                        }
                                        else
                                        {
                                            <option value="N">InActive</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" id="divcode">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="Code">@Payroll.Resources.Language.Code*</label>
                                    }
                                    else
                                    {
                                        <label for="Code">Code*</label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <input type="text" class="form-control" id="txtCode" maxlength=5 placeholder="@Payroll.Resources.Language.Code" onchange="return CompanyCodeCheck(this.value)" />
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" id="txtCode" maxlength=5 placeholder="Code" onchange="return CompanyCodeCheck(this.value)" />
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="Name">@Payroll.Resources.Language.Name*</label>
                                    }
                                    else
                                    {
                                        <label for="Name">Name*</label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <input type="text" class="form-control" id="txtName" maxlength=100 placeholder="@Payroll.Resources.Language.Name" onkeypress='return QoutesValidation(event)' />
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" id="txtName" maxlength=100 placeholder="Name" onkeypress='return QoutesValidation(event)' />
                                    }

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="ShortName">@Payroll.Resources.Language.ShortName</label>
                                    }
                                    else
                                    {
                                        <label for="ShortName">Short Name</label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <input type="text" class="form-control" id="txtShortName" maxlength=20 placeholder="@Payroll.Resources.Language.ShortName" onkeypress='return QoutesValidation(event)' />
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" id="txtShortName" maxlength=20 placeholder="Short Name" onkeypress='return QoutesValidation(event)' />
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="IndustryNature">@Payroll.Resources.Language.IndustryNature</label>
                                    }
                                    else
                                    {
                                        <label for=" IndustryNature">Industry Nature</label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <input type="text" class="form-control" id="txtIndustryNature" maxlength=20 placeholder="@Payroll.Resources.Language.IndustryNature" onkeypress='return QoutesValidation(event)' />
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" id="txtIndustryNature" maxlength=20 placeholder="Industry Nature" onkeypress='return QoutesValidation(event)' />
                                    }

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="Address">@Payroll.Resources.Language.Address</label>
                                    }
                                    else
                                    {
                                        <label for="Address">Address</label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <textarea class="form-control" id="txtAddress" maxlength=250 placeholder="@Payroll.Resources.Language.Address" onkeypress='return QoutesValidation(event)'></textarea>
                                    }
                                    else
                                    {
                                        <textarea class="form-control" id="txtAddress" maxlength=250 placeholder="Address" onkeypress='return QoutesValidation(event)'></textarea>
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="PhoneNo">@Payroll.Resources.Language.PhoneNumber</label>
                                    }
                                    else
                                    {
                                        <label for="PhoneNo">Phone Number</label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <input type="text" class="form-control" id="txtPhoneNo" maxlength=11 placeholder="@Payroll.Resources.Language.PhoneNumber" onkeypress='return isNumberKey(event)' />
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" id="txtPhoneNo" maxlength=11 placeholder="Phone Number" onkeypress='return isNumberKey(event)' />

                                    }

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="EmailId">@Payroll.Resources.Language.EmailIDentification</label>
                                    }
                                    else
                                    {
                                        <label for="EmailId">Email IDentification</label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <input type="text" class="form-control" id="txtEmailId" maxlength=50 placeholder="@Payroll.Resources.Language.EmailIDentification" onkeypress='return QoutesValidation(event)' />
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" id="txtEmailId" maxlength=50 placeholder="Email IDentification" onkeypress='return QoutesValidation(event)' />
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="RegistationNo">@Payroll.Resources.Language.RegistationNumber</label>
                                    }
                                    else
                                    {
                                        <label for="RegistationNo">Registation Number</label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <input type="text" class="form-control" id="txtRegistationNo" maxlength=25 placeholder="@Payroll.Resources.Language.RegistationNumber" onkeypress='return QoutesValidation(event)' />
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" id="txtRegistationNo" maxlength=25 placeholder="Registation Number" onkeypress='return QoutesValidation(event)' />
                                    }
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="PANNo">@Payroll.Resources.Language.PermanentAccountNumber</label>
                                    }
                                    else
                                    {
                                        <label for="PANNo">Permanent Account Number</label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <input type="text" class="form-control" id="txtPANNo" maxlength=25 placeholder="@Payroll.Resources.Language.PermanentAccountNumber" onkeypress='return QoutesValidation(event)' />
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" id="txtPANNo" maxlength=25 placeholder="Permanent Account Number" onkeypress='return QoutesValidation(event)' />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="TANNo">@Payroll.Resources.Language.TaxDeductionandCollectionAccountNumber</label>
                                    }
                                    else
                                    {
                                        <label for="TANNo">Tax Deduction and Collection Account Number</label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <input type="text" class="form-control" id="txtTANNo" maxlength=25 placeholder="@Payroll.Resources.Language.TaxDeductionandCollectionAccountNumber" onkeypress='return QoutesValidation(event)' />
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" id="txtTANNo" maxlength=25 placeholder="Tax Deduction and Collection Account Number" onkeypress='return QoutesValidation(event)' />
                                    }

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="PFNo">@Payroll.Resources.Language.ProvidentFundNumber</label>
                                    }
                                    else
                                    {
                                        <label for="PFNo">Provident Fund Number</label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <input type="text" class="form-control" id="txtPFNo" maxlength=25 placeholder="@Payroll.Resources.Language.ProvidentFundNumber" onkeypress='return QoutesValidation(event)' />
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" id="txtPFNo" maxlength=25 placeholder="Provident Fund Number" onkeypress='return QoutesValidation(event)' />
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="LCNo">@Payroll.Resources.Language.LetterofCreditNumber</label>
                                    }
                                    else
                                    {
                                        <label for="LCNo">Letter of Credit Number</label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <input type="text" class="form-control" id="txtLCNo" maxlength=25 placeholder="@Payroll.Resources.Language.LetterofCreditNumber" onkeypress='return QoutesValidation(event)' />
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" id="txtLCNo" maxlength=25 placeholder="Letter of Credit Number" onkeypress='return QoutesValidation(event)' />
                                    }

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <button type="button" class="btn btn-primary" id="btnAddNew" onclick="return Add();">@Payroll.Resources.Language.Submit</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary" id="btnAddNew" onclick="return Add();">Submit</button>
                    }
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">@Payroll.Resources.Language.Submit</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Submit</button>
                    }
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <button type="button" class="btn btn-primary" id="btnCancel" data-dismiss="modal" onclick="cancel();">@Payroll.Resources.Language.Cancel</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary" id="btnCancel" data-dismiss="modal" onclick="cancel();">Cancel</button>
                    }

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</body>
</html>